/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 500ms;
    
}


body{
    font-family: 'Hanken Grotesk';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 100px 0px 100px 1px;
    
}


.reaction, .memory, .verbal, .visual, .btn--continue{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 3rem;
    margin: 1rem 0rem;
    border-radius: 1rem;
}

.reaction{
    color:hsl(0, 100%, 67%);
    background-color:hsla(0, 100%, 67%, 0.1);
}

.memory{
    color:hsl(39, 100%, 56%);
    background-color:hsl(39, 100%, 56%,0.1);
}

.verbal{
    color:hsl(166, 100%, 37%);
    background-color:hsl(166, 100%, 37%,0.1);
}

.visual{
    color:hsl(234, 85%, 45%);
    background-color:hsl(234, 85%, 45%,0.1);
}


p{
    color:hsl(241, 100%, 89%);
    text-align: center;
    padding: 0 3rem
}

.summary--left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
    border-radius: 1rem;
    min-height: 50vh;
    max-width: 350px;
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 2rem 0;
    padding: 5.5rem;
    background-image: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0));
}

.word-great{
    color :hsl(0, 0%, 100%) ;
    font-size: 1.5rem;
    font-weight: 400;
}

.below-great{
    margin: 1rem;
    color: hsl(241, 100%, 89%);
}

span{
    font-weight: 700;
    color:hsl(224, 30%, 27%);
}
.big-76{
    font-weight: 800;
    font-size: 3.5rem;
    color: hsl(0, 0%, 100%)
}


h1{
    font-weight: 400;
    font-size: 1.5rem;
    color: hsl(241, 100%, 89%);
}

ul{
    font-weight: 400;
    font-size: 1.5rem;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.btn--continue{
    margin-top: 1rem;
    border-style: none;
    border-radius: 3rem;
    width: 12rem;
    /* padding: 1rem  2rem ; */
    background-color: hsl(224, 30%, 27%);
    color:hsl(221, 100%, 96%);
    font-weight: 700;

}

.btn--continue:hover{
    background-color:  hsl(241, 81%, 54%);
    color: hsl(221, 100%, 96%);
    background-image: linear-gradient(
        hsl(252, 100%, 67%), 
        hsl(241, 81%, 54%)
        );
    box-shadow: rgba(0, 0, 0, 0.068) 0 0 1rem 1rem;
    transition: all ease 500ms;
}

.btn--continue:active{
    background-image: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

/* Attribution */

.attribution { 
    font-size: 14px;
    font-weight: 700px;
    text-align: center;
    margin-top: 4rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}